html{
    background: cornflowerblue;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
  padding: 50px;
  color:#242424;
  border-top: 20px solid gold;
  border-bottom: 20px solid gold;
  background: white;
}

.S-1{
  background: #ccc;
  display: flex;
}
.H-1{
  background:cornflowerblue;
}

.blog-111{
  background: #999;
  padding: 20px;
  margin: 20px;
}
.blog-111:nth-of-type(1){
  flex:2;
}

.blog-111:nth-of-type(2){
  flex:4;
}

.blog-111:nth-of-type(3){
flex:2;
}

h1{
 font-size: 4em;
 margin: 0;
}

p {
 line-height: 1.4em;
}

#blog{
  border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}

form{
    border-top: 3px dotted #ccc;
    margin: 4;
    padding: 4px;
}

.sticky{
  background:gold;
  position: sticky;
  top: 0;
}

.img-container{
  background:  cornflowerblue;
  height: 50px;
  width: 50px;
 float: left;
 margin-right: 10px;
}